<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MakersBnB Listings</title>
        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Listings</h1>
    {% for listing in listings %}
        <article>
            <h2>{{listing.title}}</h2>
            <img id="listing main img" src="{{listing.img_url}}" alt="An image of the MakersBNB">
            <div>
                Price per night: {{listing.price_per_night}}
                County: {{listing.county}}
                About this MakersBnB: {{listing.listing_description}}
            </div>
        </article>
    {% endfor %}
    </body>
</html>